* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80px;
  height: 80px;
  font-size: 2.5em;
  border: 3.5px solid gray;
  border-radius: 10px;
}
p {
  margin-top: 10px;
  font-size: 2.5em;
}