* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gridContainer {
  display: grid;
  place-items: center;
}

.gridContainer > button {
  width: 180px;
  height: 100px;
  font-size: 3em;
  background-color: rgb(223, 217, 217);
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.gridContainer > button:hover {
  background-color: rgb(163, 156, 156);
  border-radius: 25px;
  transition: ease-out 0.3s;
}

.gameOverText {
  margin-top: 20px;
}

h1 {
  margin-bottom: 30px;
}

p {
  font-size: 1.5em;
}