.contact-list-div {
  border: solid 1px black;
  border-radius: 10px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.filter-input {
  margin-top: 5vh;
  text-align: center;
  padding: 0.5vw;
  font-size: 1em;
}

.contact-list {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-list-item {
  list-style: none;
  padding: 0.3vw;
  transition: font-size 200ms ease-out;
}

.contact-list-item:hover {
  cursor: pointer;
  font-size: 1.2em;
  transition: font-size 300ms ease-out;
}

.contact-list-button {
  margin-top: 2vh;
  height: 25px;
  width: 100px;
  font-size: 1em;
  transition: font-weight 200ms ease-out;
}

.contact-list-button:hover {
  font-size: 1em;
  transition: font-weight 300ms ease-out;
}