.contact-div {
  margin-top: 2vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-ul {
  margin-top: 3vh;
}

.contact-li {
  margin-bottom: 1vh;
  list-style: none;
}

.contact-buttons-div {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .contact-button {
  height: 5vh;
  width: 6vw;
  margin-right: 5px;
  font-size: 1.2em;
  text-align: center;
  transition: font-size 100ms ease-out;
}

.contact-button:hover {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 200;
  transition: font-size 200ms ease-out;
} */