.form {
  padding: 4vh 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-row {
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-label {
  width: 20%;
}
.form-input {
  width: 85%;
}

.form-textarea {
  height: 7vh;
  width: 20vw;
}

/* .form-button {
  height: 5vh;
  width: 6vw;
  margin-right: 5px;
  font-size: 1.2em;
  text-align: center;
  transition: font-size 100ms ease-out;
}

.form-button:hover {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 200;
  transition: font-size 200ms ease-out;
} */

.form-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-message-div {
  display: flex;
  justify-content: center;
}

.form-message-visible {
  font-size: 1.3em;
  font-weight: 250;
  padding: 1vh;
}

.form-message-invisible {
  display: none;
}