.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 2px rgb(67, 64, 64);
  border-radius: 5px;
  font-size: 4em;
  
  width: 150px;
  height: 150px;
}

.winning {
  font-size: 5.5em;
  border-style: dashed;
}