.song-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.song-lyrics-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2em;
}

.song-lyrics-div {
  padding: 1.5em;
  width: 43%;
  border: solid 1px black;
  margin: 1em;
}