* {
  margin: 0;
}
body {
  width: 1000px;
}

.green {
  display: flex;
  justify-content: space-around;
}

.green > div {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(124, 252, 0);
}

.red {
  display: flex;
  justify-content: stretch;
  width: 100%;
}

.red > div {
  flex-grow: 1;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(255, 0, 0);
}

.red > div:nth-child(2) {
  flex-grow: 2;
}