.song-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-list-item {
  /* padding: 0.5em; */
  list-style: none;
  margin-top: 0.5em;
}

.song-list-link {
  text-decoration: none;
}

.song-search-input {
  margin-top: 1em;
  text-align: center;
}