* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 800px;
}

h1 {
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, td {
  padding: 15px;
  border: solid 1px black;
}

th, tr:nth-child(even) {
  background-color: #e6e6e6;
}

img {
  padding: 0.5em;
  margin: 0.5em 1em;
  background-color: blue;
}

p {
  margin-top: 15px;
}

ul {
  list-style-type: square;
}

li:nth-child(odd) {
  color: purple;
  /* font-weight: bold; */
}

.container {
  margin: 50px;
  text-align: justify;
}

.yellow {
  background-color: yellow;
}

#red {
  color: red;
}

button {
  border-radius: 4px;
  outline: none;
  border: solid 1px;
  cursor: pointer;
  margin: 10px 0;
}

.massiveButton {
  padding: 40px;
  font-size: 3em;
}

.loginButton {
  padding: 10px;
  background-color: #d0d0e9;
}