* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 221);
  width: 800px;
}

.grid {
  height: 640px;
  display: grid;
  grid-template-columns: repeat(4, 20%);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 3em;
}

.winnerPrompt {
  font-size: 3em;
}

.invisible {
  display: none;
}