* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-image {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

input {
  text-align: center;
  margin-right: 3px;
}
button {
  width: 80px;
}