
.loading {
  display: inline-block;
}

.loading:after {
  content: " ";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}