.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

button {
  padding: 20px;
  font-size: 1.3em;
}

.numbers {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.remainingNumbers {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}