.number {
  border: solid 1px black;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: orange;
  margin-bottom: 5px;
  margin-right: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.animated {
  animation: animated 1.8s linear infinite; 
}

@keyframes animated {
  to { 
    transform: rotate(360deg); 
  }
}