.red {
  width: 100%;
  height: 100px;
  background-color: red;
  border: solid 1px black;
}

.greenAndBlue {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

.green {
  width: 50%;
  background-color: green;
}

.blue {
  width: 50%;
  background-color: blue;
}

.hoverable:hover {
  background-color: yellow;
}