* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-page {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  margin-left: 2vw;
}

.app-left-column {
  flex: 1;
}

.app-right-column {
  flex: 4;
}

h1 {
  margin-top: 1.5em;
}
h2 {
  margin-top: 2em;
}