* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  width: 450px;
}

.formRow {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
label {
  margin-right: 5px;
}
input {
  margin-left: 5px;
  margin-right: 10px;
}

.output {
  margin-top: 40px;
  border: 1px solid black;
  width: 450px;
  padding: 20px;
}

button {
  padding: 5px 10px;
  margin-right: 10px;
}