* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2.5em;
  text-decoration: underline;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.myForm {
  padding: 20px;
}

button {
  height: 45px;
  width: 90px;
  font-size: 1.5em;
  border: solid 2px gray;
  border-radius: 10px;
}

input {
  height: 30px;
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 6px;
  text-align: center;
}

p {
  font-size: 1.5em;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  font-style: italic;
  font-size: 0.9em;
}