
li {
  /* padding: 5px; */
  list-style-type: circle;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
}

li:hover {
  cursor: pointer;
  background-color: #F5F5F5;
}

.notDone {
  font-weight: bold;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}

.todoButton {
  font-size: 1em;
  height: 30px;
}
