* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 800px;
}

button {
  font-size: 1.5em;
  transition: text-shadow 100ms ease-in;
}

button:hover {
  text-shadow: gray 1px 2px;
  transition: text-shadow 100ms ease-in;
  cursor: pointer;
}
.formula {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid black;
}

.formula-text {
  margin-right: 15px;
  font-size: 1.3em;
}

.error-text {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 40px;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}

.calc-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  grid-template-areas: 
    "add sub multi div"
    "one two three equals"
    "four five six equals"
    "seven eight nine equals"
    "zero dot clear equals"
}

.addition {
  grid-area: add;
}

.subtraction {
  grid-area: sub;
}

.multiplication {
  grid-area: multi;
}

.division {
  grid-area: div;
}
.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.equals {
  grid-area: equals;
}

.dot {
  grid-area: dot;
}

.dot:hover, .clear:hover, .equals:hover {
  text-shadow: none;
}
.clear {
  grid-area: clear;
}
