* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  margin-top: 5vw;
  display: flex;
  width: 70vw;
  min-height: 700px;
  min-width: 750px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  border: solid 1px black;
  width: 40%;
  border-radius: 10px;
}

button {
  height: 45px;
  width: 90px;
  margin-right: 5px;
  font-size: 1.2em;
  text-align: center;
  transition: font-size 100ms ease-out;
}

button:hover {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 200;
  transition: font-size 200ms ease-out;
}