
* {
  margin: 0;
}

body {
  width: 1000px;
}

.red {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
}

.red > div {
  border: 1px solid black;
  background-color: rgb(255, 0, 0);
}

.green {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 80px; */
  grid-template-rows: 80px 80px 80px 40px;
  grid-template-areas: 
    "six six six"
    "seven eight nine"
    "seven ten ."
    "seven . ."
}

.green > div {
  border: 1px solid black;
  background-color: rgb(124, 252, 0);
}

.item-6 {
  grid-area: six;
}

.item-7 {
  grid-area: seven;
}

.item-8 {
  grid-area: eight;
}

.item-9 {
  grid-area: nine;
}

.item-10 {
  grid-area: ten;
}