.App {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family:'Courier New', Courier, monospace;
}

label {
  margin-right: 30px;
  width: 140px;
}

input {
  margin-right: 15px;
}
.row {
  margin-bottom: 20px;
  display: flex;
}

.feedbackList {
  font-style: italic;
}

button {
  padding: 10px 30px;
}

.resetButton {
  margin-bottom: 50px;

}