* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 5px;
  padding: 10px;
  background-color: rgb(244, 243, 243);
}

h1 {
  border: 1px solid black;
  padding: 10px;
}

button {
  background-color: white;
  padding: 4px;
  margin-top: 10px;
  border: solid 1px gray;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

form > * {
  margin-top: 10px;
}

form > label {
  font-size: 1.5em;
  font-weight: bold;
}

form > input {
  width: 200px;
}

form > textarea {
  width: 250px;
}

form > button {
  width: 80px;
}

li {
  margin-top: 10px;
  width: 100%;
  border: 2px solid gray;
  border-radius: 5px;
  list-style: none;
}
.postNameButtonContainer {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}

/* .postButton {
  background-color: green;
} */
.postName {
  /* margin: 20px; */
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

.postText {
  margin: 0 0 10px 20px;
  text-align: justify;
  font-size: 1.1em;
}

.invisible {
  display: none;
}