.App {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer {
  font-size: 3em;
}

button {
  width: 80px;
  height: 60px;
  margin-top: 20px;
  font-size: 1.1em
}