.grid {
  width: 0px;
  display: grid; 
  background-color: rgb(209, 196, 196); 
  /* padding: 10px; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(209, 196, 196);
  border: 1px solid black;
  font-size: 30px;
  
  width: 100px;
  height: 100px;
}

.debug {
  display: none;
}