* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 40px 0 20px 0;
}

th {
  border-bottom: 1px solid black;
}

table {
  padding: 25px;
  width: 700px;
  text-align: center;
}