.card {
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 140px;
}

.card:hover {
  border-style: dashed;
}

.found {
  visibility: hidden;
  opacity: 0;
  border: solid 2px white;
  transition: visibility 700ms, opacity 600ms ease-in, border 100ms;
  
}


img {
  width: 90%;
  height: 90%;
}

.notRevealed {
  display: none;
  transition: display 300ms;
}

.revealed {
  display: inline;
  animation-name: reveal;
  animation-duration: 400ms;
  animation-iteration-count: 1;
}

@keyframes reveal {
  0% {filter: blur(5px)}
  25% {filter: blur(3px)}
  50% {filter: blur(1px)}
  75% {filter: blur(0.5px)}
  100% {filter: blur(0px)}
}
