* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vh;
}

.formula {
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid black;
}

.error {
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 40px;
  color: red;
  font-weight: bold;
}

.calcGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  grid-template-areas: 
    "add sub multi div"
    "one two three equals"
    "four five six equals"
    "seven eight nine equals"
    "zero dot clear equals"
}

.addition {
  grid-area: add;
}

.subtraction {
  grid-area: sub;
}

.multiplication {
  grid-area: multi;
}

.division {
  grid-area: div;
}
.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.equals {
  grid-area: equals;
}

.dot {
  grid-area: dot;
}
.clear {
  grid-area: clear;
}

.debug {
  display: none;
  margin-top: 100px;
  padding: 150px;
}